<div class="sign-in-form">
  <h4>Sign in</h4>
  <form novalidate (submit)='onSubmit(signInForm)' #signInForm='ngForm'>
    <div class="form-group">
      <input type="email" autocomplete="off" name="email" required placeholder="User e-mail" ngModel #email='ngModel' class="form-control">

      <div class="alert alert-danger" [hidden]='email.valid || email.pristine'>
        Please enter your name
      </div>
    </div>
    <div>
      <div class="form-group">
        <input type="password" autocomplete="off" name="password" required placeholder="User password" ngModel #password='ngModel' class="form-control">

        <div class="alert alert-danger" [hidden]='password.valid || password.pristine'>
          password is required
        </div>
      </div>
      <div class='alert alert-danger' *ngIf="formError">{{formErorr}}</div>
      <div *ngIf="!submiting">
        <button [routerLink]="[ '/register' ]" class="btn btn-success">Register</button>
        <button [disabled]='signInForm.invalid' type='submit' class="btn btn-primary">Sign In</button>
      </div>
      
      <div *ngIf="submiting">
        <span><img src="assets/img/loader.gif"></span>
        <span class='message'>Sigin in ...</span>
      </div>
    </div>
  </form>
</div>
