<h2>PC maintenence</h2>
<button class="btn btn-primary" (click)="createPC()">Добавити нове порівняння</button>
<table>
  <tr class="row">
    <th class='col-lg-3 col-sm-3 col-3'>НАЗВА</th>
    <th class='col-lg-3 col-sm-3 col-3'>МОДЕЛЬ</th>
    <th class='col-lg-2 col-sm-2 col-3'>ЦІНА</th>
    <th class='col-lg-3 col-sm-3 col-3'></th>
  </tr>
  <tr class="row" *ngFor="let item of PcList">
    <td class='col-lg-3 col-sm-3 col-3'>{{item.name}}</td>
    <td class='col-lg-3 col-sm-3 col-3'>{{item.model}}</td>
    <td class='col-lg-2 col-sm-2 col-3'>{{item.price}}</td>
    <td class='col-lg-3 col-sm-3 col-3' *ngIf="item.id !== deleteId">
      <button class="btn btn-sm btn-primary" (click)="showPcDetail(item.id)">Детально</button>
      <button class="btn btn-sm btn-warning" (click)="editPc(item.id)">Редагувати</button>
      <button class="btn btn-sm btn-danger" (click)="deletePc(item.id)">Видалити</button >
    </td>
    <td class='col-lg-3 col-sm-3 col-3' *ngIf="item.id === deleteId &&  !isDeleting">
      <button class="btn btn-sm btn-light">Cancel</button>
      <button class="btn btn-sm btn-danger">Delete</button>
      Видалити цей екземпляр?
      <p *ngIf="deleteError">{{deleteError}}</p>
    </td>
    <td class='col-lg-4 col-sm-4 col-3' *ngIf="item.id === deleteId && isDeleting">
      Видалення...
      <img src="/assets/img/deleteLoader.gif">
    </td>
  </tr>
</table>